<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <!-- Mobile Specific Meta -->
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>
    <!--
        CSS
        ============================================= -->
    <link href="~/Content/linearicons.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/themify-icons.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/owl.carousel.css" rel="stylesheet" />

    <link href="~/Content/nice-select.css" rel="stylesheet" />

    <link href="~/Content/nouislider.min.css" rel="stylesheet" />

    <link href="~/Content/ion.rangeSlider.css" rel="stylesheet" />

    <link href="~/Content/ion.rangeSlider.skinFlat.css" rel="stylesheet" />

    <link href="~/Content/magnific-popup.css" rel="stylesheet" />

    <link href="~/Content/main.css" rel="stylesheet" />

    <link href="~/Content/product.css" rel="stylesheet" />
    
</head>
