
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutHF.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Xác nhận đơn hàng</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Xác nhận</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Cảm ơn bạn, Chúng tôi đã nhận được đơn hàng của bạn, Chúng tôi sẽ liên hệ và xác nhận đơn hàng của bạn trong 24h đồng hồ </h3>
        <div class="row order_d_inner">

        </div>
        <div class="order_details_table">
       
        </div>
    </div>
</section>